* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');


html body {
    background: rgb(19, 181, 181);
    background: linear-gradient(90deg, rgba(19, 181, 181, 1) 0%, rgba(149, 18, 170, 1) 26%, rgba(9, 10, 121, 1) 67%, rgba(95, 4, 126, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 150vh;
    display: grid;
    grid-template-areas: "header header header"
        "main main main"
        "main main main"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;

}

main {
    grid-area: main;
    ;
}


/* footer styles */
footer {
    grid-area: footer;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.601);
    color: white;
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

footer>li {
    margin-left: 10px;
}

/* Navbar Styles */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(21, 21, 21, 0.259);

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(17, 17, 17);
}

/* Other Styles */

.imgLogo {
    height: 50px;
    width: 120px;
}

a:hover {
    text-decoration: none;
    color: navy;
    font-weight: bold;
}

#slide-out li a:hover {
    color: navy;
    font-weight: bold;
}

.divCenter {
    margin: auto;
    width: 50%;
}

.modal-body .form-horizontal {
    width: 100%;
}